.works-header__title
  padding: 0 10px
  text-align: center

.works-descr
  &-wrap
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto auto
    padding: 20px
    grid-gap: 20px
    font-size: 20px
    font-family: 'mont-reg', sans-serif
  &-img
    background-repeat: no-repeat
    background-position: top
    background-size: cover
    min-height: 290px
  &__title
    font-size: 30px
    margin-bottom: 15px
  &-list
    padding-left: 30px
    &__item
      font-size: 25px
      line-height: 40px
      color: #9CBC68
      span
        color: white
  &-info
    grid-column: 1 / 3
  &__link
    color: #9CBC68
    font-size: 30px
    text-decoration: none
    font-family: 'mont-med', sans-serif
    transition: all 0.2s ease
    &:hover
      color: darken(#9CBC68, 15%)

@media only screen and (max-width: 960px)

  .works-descr
    &-wrap
      grid-template-columns: 2fr 1fr

@media only screen and (max-width: 720px)

  .works-descr
    &-wrap
      grid-template-columns: 1fr
      grid-template-rows: auto auto auto
    &-info
      grid-column: 1 / 2

@media only screen and (max-width: 540px)

  .works-descr
    &__text
      text-align: center
      font-size: 15px
    &__title
      text-align: center
      font-size: 25px
      margin-bottom: 15px
    &-list
      padding-left: 30px
      &__item
        font-size: 20px
        line-height: 30px


@media only screen and (max-width: 420px)

  .works-header__title
    font-size: 32px
    text-align: center





